.display-step {
    display: block;
}

.hide-step {
    display: none;
}

.logo {
    height: 60px;
    width: 60px;
    opacity: .15;
}

.faded {
    opacity: .25;
}

.logo-copy {
    font-weight: 800;
    letter-spacing: .5px;
    font-size: 20px;
    opacity: .15;
    color: #000000;
}