<div class="container">
  <div class="row">
    <div class="col-12">
      <h5>Email Settings</h5>
      <p>Your email address brett@bloethner.com is used to sign into the replyas web app and is also where we will send any
        reminders you choose below.</p>
      <button class="btn btn-outline-primary">Change email address</button>
    </div>
  </div>
  <div class="row pt-5 pb-3">
    <div class="col-12">
      <h5>Email Notifications</h5>
      <p>We can remind you when one of your reddit post queues is getting empty and keep you up to date when your posts are
        about execute.</p>
    </div>
  </div>
  <div class="row email-notification-item mx-0">
    <div class="col-10">
      <p class="py-2">Empty Queue Notification</p>
    </div>
    <div class="col-2">
      <div class="form-group py-2 mb-0">
        <div class="custom-control custom-checkbox custom-checkbox-switch float-right">
          <input type="checkbox" class="custom-control-input" name="profilePublic" id="emptyQueueNotification">
          <label class="custom-control-label" for="emptyQueueNotification"></label>
        </div>
      </div>
    </div>
  </div>

  <div class="row email-notification-item mx-0">
    <div class="col-10">
      <p class="py-2">Post Execution Notification</p>
    </div>
    <div class="col-2">
      <div class="form-group py-2 mb-0">
        <div class="custom-control custom-checkbox custom-checkbox-switch float-right">
          <input type="checkbox" class="custom-control-input" name="profilePublic" id="postExecutionNotification">
          <label class="custom-control-label" for="postExecutionNotification"></label>
        </div>
      </div>
    </div>
  </div>

  <div class="row email-notification-item mx-0">
      <div class="col-10">
        <p class="py-2">Post Faliures</p>
      </div>
      <div class="col-2">
        <div class="form-group py-2 mb-0">
          <div class="custom-control custom-checkbox custom-checkbox-switch float-right">
            <input type="checkbox" class="custom-control-input" name="profilePublic" id="postFailures">
            <label class="custom-control-label" for="postFailures"></label>
          </div>
        </div>
      </div>
    </div>

    <div class="row email-notification-item mx-0" style="border-bottom: 1px solid #e9ecef;">
        <div class="col-10">
          <p class="py-2">Post Successes</p>
        </div>
        <div class="col-2">
          <div class="form-group py-2 mb-0">
            <div class="custom-control custom-checkbox custom-checkbox-switch float-right">
              <input type="checkbox" class="custom-control-input" name="profilePublic" id="postSuccesses">
              <label class="custom-control-label" for="postSuccesses"></label>
            </div>
          </div>
        </div>
      </div>
</div>