<div class="row">
  <div class="col">
    <ul class="nav nav-tabs pb-3" id="myTab" role="tablist">
      <li style="width:50%" class="nav-item mid-menu-nav-item">
        <a class="nav-link py-1" routerLink="/profiles/{{profileId}}/queue" [ngClass]="currentViewName == 'queue' ? 'active' : 'inactive'">
          Queue
        </a>
      </li>
      <li style="width:25%" class="nav-item mid-menu-nav-item">
        <a class="nav-link py-1" routerLink="/profiles/{{profileId}}/posts" [ngClass]="currentViewName == 'posts' ? 'active' : 'inactive'">
          Posts
        </a>
      </li>
      <li style="width:25%" class="nav-item mid-menu-nav-item">
        <a class="nav-link py-1" routerLink="/profiles/{{profileId}}/settings" [ngClass]="currentViewName == 'settings' ? 'active' : 'inactive'">
          Settings
        </a>
      </li>
    </ul>
  </div>
</div>