<div class="row">
  
  <!-- card row icon, determines whether post is of link or text kind -->
  <div class="col-sm-1 text-center">
    <div class="fa-3x mt-2">
      <a href="{{ post.data.url }}" target="_blank" class="fa-layers fa-fw">
        <i class="fas fa-circle" style="color:#e9ecef"></i>
        <i *ngIf="post.data.is_self === false" class="fa-inverse fal fa-link" data-fa-transform="shrink-6"></i>
        <i *ngIf="post.data.is_self === true" class="fa-inverse fas fa-comment-lines" data-fa-transform="shrink-6"></i>
        <span class="fa-layers-counter" style="background:#4582EC" title="Posted using ReplyAs.com">
          {{ post.data.num_comments }}
        </span>
      </a>
    </div>
  </div>

  <!-- post-card body, displays the card and the post information -->
  <div class="col-sm-10">
    <div class="card">
      <div class="card-body pt-2">
        <div class="media">
          <div class="media-body mr-5">
            <span class="h5 mb-0 card-title">{{ post.data.title }}</span>
            <span class="card-subtitle">
              Submitted {{ getReadableTime(post.data.created_utc) }} ago by
              <a class="fw-500" href="https://www.reddit.com/user/{{ post.data.author }}" target="_blank">
                u/{{ post.data.author }}
              </a> to
              <a class="fw-500" href="https://www.reddit.com/{{ post.data.subreddit_name_prefixed }}" target="_blank">
                {{ post.data.subreddit_name_prefixed }}
              </a>
            </span>
            <span class="d-block card-subsubtitle">
              {{ post.data.domain }}
            </span>
          </div>
          <img alt="Image" *ngIf="post.data.thumbnail !== 'self' && post.data.thumbnail !== 'default'" src="{{ post.data.thumbnail }}"
            class="avatar avatar-square">
        </div>
      </div>

      <!-- post-card bottom portion, contains expandable components controlled by footer buttons -->
      <div class="collapse container" id="{{ post.data.id }}">
        <app-performance-metrics *ngIf="performanceMetricsHasBeenExpanded" [postId]="post.data.id" [subredditName]="post.data.subreddit"></app-performance-metrics>
      </div>
      <div class="card-footer d-flex justify-content-between">
        <div>
          <button class="btn btn-sm btn-outline-secondary" [attr.data-target]="'#' + post.data.id" data-toggle="collapse" (click)="performanceMetricsHasBeenExpanded = true">Performance Metrics</button>
        </div>
      </div>

    </div>
  </div>

</div>