.logo {
    opacity: .25;
}

.navbar-logo {
    height: 50px;
    width: 50px;
    //margin-right: 5px;
    margin-bottom: 25px;
}

.navbar-logo-copy {
    font-weight: 800;
    letter-spacing: .5px;
    font-size: 40px;
    color: black;
}

.navbar-logo-copy-as {
    background: black;
    color: #f8f9fa;
    border-radius: 5px;
    padding: 5px;
}