.card-title {
  font-size: 18px;
  line-height: 1.5em;
  color: #59626a;
  word-wrap: break-word;
  font-weight: bold;
}

.card-subtitle {
  font-size: 14px;
  line-height: 1.5em;
  color: #59626a;
}

.card-subsubtitle {
  font-size: 12px;
  line-height: 1.5em;
  color: #A6AFB7;
}

.delete-alert {
  border: none;
  border-radius: 0px;
}

.delete-button {
  color: #712b29;
  border-color: #712b29;
  &:hover {
    color: #ffffff !important;
    background-color: #712b29;
    border-color: #ffffff;
  }
}

.schedule-header {
  font-size: 16px;
  line-height: 1.5em;
  color: #59626a;
  font-weight: 500;
}

.schedule {
  border-top: 1px solid #e9ecef;
}
.schedule-custom {
  border-left: 1px solid #e9ecef;
  border-top: 1px solid #e9ecef;
  background: #f8f9fa;
}

.schedule-not-custom {
  border-left: 1px solid #e9ecef;
  background: #e9ecef;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #adb5bd;
  margin-bottom: 0.75rem;
  display: block;
  font-weight: 500;
}
.schedule-btn-label {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
}
.datepicker {

}

.performance-menu {
  border-left: 1px dotted #e9ecef;
  font-size: 12px;
  line-height: 1.5em;
  font-weight: 500;
}

.performance-menu-item {
  color: #4582eC;
  cursor: pointer;
  &:hover {
    color: #1559cf
  }
}

.form-label {
  font-size: 18px;
  line-height: 1.5em;
  color: #59626a;
  word-wrap: break-word;
  font-weight: bold;
}

.background-white {
  background: #ffffff;
  transition-duration: .5s;
  transition-property: background-color;
}

.background-grey {
  background: #e9ecef;
  transition-duration: .5s;
  transition-property: background-color;
}