mixin footer
    footer.footer-short
        .container
            hr
            nav.row.justify-content-between.align-items-center
                .col-auto
                    ul.list-inline
                        li.list-inline-item
                            a(href='/')
                                span.icon.icon-feather
            .row
                .col
                    small CSCI - E31 Brett Bloethner