mixin navbar
    .nav-container
        .bg-dark.navbar-dark
            .container
                nav.navbar.navbar-expand-lg
                    a.navbar-brand(href='/')
                        span.icon.icon-feather
                    .collapse.navbar-collapse.justify-content-between
                        ul.navbar-nav
                        ul.navbar-nav
                            li.nav-item
                                a(href='/') Sign up
                                span  or 
                                a(href='/login') Sign in
