<!-- account page sidebar -->
<!-- col-12 col-md-3 mb-1 order-md-1 -->
<div>
  <div class="card card-sm">
    <div class="card-header">
      <span class="h6">Personal Settings</span>
    </div>
    <div class="list-group list-group-flush">

      <span class="list-group-item d-flex justify-content-between pointer" routerLink="/account/profile">
        <div>
          <i class="icon-area-graph mr-1"></i>
          <span>Profile</span>
        </div>
        <div>
          <i class="icon-chevron-right"></i>
        </div>
      </span>

      <span class="list-group-item d-flex justify-content-between pointer" routerLink="/account/teams">
        <div>
          <i class="icon-power-plug mr-1"></i>
          <span>Teams</span>
        </div>
        <div>
          <i class="icon-chevron-right"></i>
        </div>
      </span>

    </div>
  </div>
  <div class="card card-borderless bg-secondary">
    <a class="card-body" href="#">
      <div class="d-flex justify-content-between mb-3">
        <img alt="Image" src="assets/img/logo-w-gradient.svg" />
        <span class="title-decorative">Sponsor</span>
      </div>
      <span class="h6">A robust suite of styled elements and pages</span>
    </a>
  </div>
</div>
<!-- end account page sidebar -->