<footer class="footer-short">
  <div class="container">
    <hr>
    <nav class="row justify-content-between align-items-center">
      <div class="col-auto">
        <ul class="list-inline">
          <li class="list-inline-item">
            <img class="navbar-logo" src="assets/images/logo-black.svg" alt="reply as Logo" class="footer-logo">
          </li>
          <li class="list-inline-item">
            <a href="#">Link 1 placeholder</a>
          </li>
        </ul>
      </div>
      <div class="col-auto text-sm-right">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#">
              <i class="fal fa-frown"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fal fa-meh"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fal fa-smile"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="row">
      <div class="col">
        <small>Brett Bloethner - CSCI-E31</small>
      </div>
    </div>
  </div>
</footer>