.navbar-logo {
    height: 30px;
    width: 30px;
    //margin-right: 5px;
    margin-bottom: 10px;
}

.navbar-logo-copy {
    font-weight: 800;
    letter-spacing: .5px;
    font-size: 20px;
}

.navbar-logo-copy-as {
    background: white;
    color: black;
    border-radius: 5px;
    padding: 5px;
}