<nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white" style="margin-top:70px;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" *ngFor="let breadcrumb of breadcrumbsExceptLast; let last = last;">
            <a routerLink="{{breadcrumb.value}}">{{ breadcrumb.name }}</a>
          </li>


          <li class="breadcrumb-item active" aria-current="page">{{ lastBreadCrumb.name }}</li>
        </ol>
      </div>
      <!--end of col-->
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</nav>